<footer class="footer" style="height:12rem;">
    <div class="container content">
        <div class="has-text-centered" style="font-weight: bold;font-size: larger;">
            <p>
                2024 @ Orchid
            </p>
        </div>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/matchPassword.js"></script>