<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/header') %>
        <div class="column" style="height: 100vh;">
            <a href="/categories" class="button is-primary">Back</a>
            <form method="POST">
                <div class="field">
                    <label class="label">Category Name</label>
                    <div class="control">
                        <input class="input" name="categoryName" type="text" placeholder="Input name" required value="<%= category.categoryName %>"
                            onblur="trimInput()">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <%- include('partials/footer') %>
</body>

</html>